<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('partials/navbar', { page: '' }) %>
    <br>
    <br>
    <br>
    <div class="container mx-auto mt-8">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div>
            <h1 class="text-5xl font-bold">404</h1>
            <p class="mb-6 p-6">I'm sorry, we're not able to find what you're looking for...</p>
            <div class="flex justify-center">
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>